<html>
<head>
  <meta content='{{ site.title }}' property='og:title' />
  <title>{{ site.title }}</title>
  {% include head.html %}
</head>
<body>
  <header>
    <a id="go-back-home" href="/"><img src="/assets/img/profile.png" alt="scribble" width="80" height="80" class="img-circle"></a>
    <h2>Ryo Suzuki</h2>
  </header>
  <div id='container'>
    <div class="block">
      {% for link in site.links %}
        <a target="{% if link.external %}_blank{% else %}_top{% endif %}" class="main {%if link.name == page.title %}hoge{% endif %}" href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </div>
    <div class="content">
      <section class='post'>
        {{ content }}
      </section>
    </div>
  </div>

  <footer>
    <a href="https://twitter.com/ryosuzk" target="blank">
      Twitter
    </a>
    <span>-</span>
    <a href="https://facebook.com/ryosuzk" target="blank">
      Facebook
    </a>
    <span>-</span>
    <a href="https://github.com/ryosuzuki" target="blank">
      GitHub
    </a>
    <span>-</span>
    <a href="https://www.linkedin.com/in/ryosuzuki" target="blank">
      LinkedIn
    </a>
    <p>Ryo Suzuki All Rights Reserved.</p>
  </footer>
</body>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</html>
